@import './variables';

@font-face {
  font-family: 'SuecaSlab-Bold';
  src: url('./fonts/suecaslab-bold.woff2') format('woff2');
}

@font-face {
  font-family: 'SuecaSlab-Medium';
  src: url('./fonts/suecaslab-medium.woff2') format('woff2');
}

// Reset CSS o normalize.css
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  color: $black-ln;
}

.sueca-bold {
  font-family: 'SuecaSlab-Bold', sans-serif;
}

.sueca-medium {
  font-family: 'SuecaSlab-Medium', sans-serif;
}
