$white: #fff;
$black: #000000;
$black-ln: #272727;
$black-secondary-ln: #1C1C1F;
$yellow-ln: #FFFF24;
$red-light-ln: #FFEAF1;
$red-ln: #C40F4D;
$blue-ln: #0250C9;
$gray-primary-ln: #E4E4E4;
$gray-secondary-ln: #F2F2F2;

$colors: (
  "white": $white,
  "black": $black-ln,
  "black-secondary": $black-secondary-ln,
  "black-full" : $black,
  "yellow": $yellow-ln,
  "red": $red-ln,
  "red-light": $red-light-ln,
  "blue": $blue-ln,
  "gray-primary": $gray-primary-ln,
  "gray-secondary": $gray-secondary-ln
);
$displayProps: ("block", "inline-block", "inline", "flex", "grid", "inline-flex", "inline-grid", "table", "inline-table", "list-item", "none", "contents");
$flexDirections: ("column", "row", "row-reverse", "column-reverse");
$spaceAmounts: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 330 auto);
$alignments: ("center", "space-between", "space-around", "space-evenly", "flex-start", "flex-end");
$textAlignments: ("left", "right", "center", "revert");
$widthSizes: ("24px", "50px", "84px", "100px", "120px", "150px", "200px", "250px", "300px", "320px", "350px", "400px", "420px", "450px", "500px", "550px", "600px", "650px", "700px", "728px", "750px", "800px", "850px", "900px", "950px", "1000px", "auto", "fit-content");
$heightSizes: ("1px", "24px", "40px", "50px", "90px", "100px", "138px", "150px", "180px", "200px", "250px", "300px", "320px", "350px", "400px", "450px", "500px", "550px", "600px", "650px", "700px", "750px", "800px", "850px", "900px", "950px", "1000px", "auto");
$borderWidths: (1, 2, 3, 4, 5);
$borderStyles: ("solid", "dashed", "dotted", "double", "inset", "outset", "none");
$fontWeights: (100, 200, 300, 400, 500, 600, 700, 800, 900);
$fontSizes: (8, 9, 10, 11, 12, 14, 16, 18, 20, 24, 28, 32, 36, 40, 48, 56, 64, 72, 80, 96, 112, 128);
$lineHeights: (8, 9, 10, 11, 12, 14, 16, 18, 20, 24, 28, 32, 36, 40, 48, 56, 64, 72, 80, 96, 112, 128);
$positions: ("absolute", "fixed", "relative", "sticky");
$positioningTypes: ("top", "right", "bottom", "left");
$borderSizes: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20);
$radiusSizes: (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20);