@import '../../../styles/mixins';



@include respond-to(tablet) {
  .diviver-container {
    display: none;
  }
}

@include respond-to(mobile) {
  .home-body-container {
    margin: 0
  }
}

@include respond-to(fullscreen) {
  .home-body-container {
    margin-left: 320px;
    margin-right: 320px;
  }
}